* text=auto eol=lf
*.sh text eol=lf
mvnw text eol=lf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.ttf binary
*.pdf binary
src/main/resources/META-INF/third-party/texts/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
